.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-exemplo {
  background-color: #1e1e1e; /* Cinza um pouco mais claro */
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid #333;
}